body {
    display: grid;
    justify-content: center;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 20px;
    justify-self: center;

}

.date {
    background-color: darkseagreen;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    filter: drop-shadow(1px 1px 3px);
}

.day {
    background-color: rgb(3, 216, 216);
    display: flex;
    width: 40px;
    height: 40px;
    filter: drop-shadow(1px 1px 3px);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}

.calendar-container {
    background-color: antiquewhite;
    width: 500px;
    border: 1px solid white;
    filter: drop-shadow(1px 1px 5px);
}

img {
    width: 500px;
    filter: drop-shadow(0px 1px 1px);
}

@media screen and (max-width: 576px) {
    .calendar-container {
        grid-template-columns: repeat(1, 1fr);
    }
}